.skills{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:112px;
}

.skills-about-myself{
    margin: 16px 220px;
    margin-right:unset ;
}

.skills-about-myself h1 {
    margin-bottom: 16px;
}

.skills-about-myself_content{
    margin-bottom: 16px;
}

.skills-about-myself_tiles{
    display: flex;
    width: 100%;
    justify-content:space-between
}

.skills-ratings {
    margin : 16px 220px;
    margin-left: unset;
}
